/* styles.css */
body
{
	background-color: #a1ffe0 !important;
	font-family: "华文中宋","华文宋体","宋体",serif !important;
}
#index-icon
{
	display: none;
}
.absolute-center
{
	margin-left:auto;
	margin-right:auto;
}